/*utilities*/
:root{
    --gray: #737373;
    --blue: #2D64E6;
    --darkgray: #1F1F1F;
}

.margin-bt{
    margin-bottom: 20px;
}

.button{
    padding: 10px 15px;
    border-radius: 20px;
}

/*header*/
header{
    position: fixed;
    z-index: 1;
}

.sony-logo{
    height: 30px;
    padding: 5px 10px;
}

.bars-icon{
    color: var(--gray);
    border: lightgrey 1px solid;
    padding: 10px 10px;
}

/*main*/
main{
    padding-top: 96px;
}

#main-jumbotron{
    background-image: url(../img/jumbo-bg.png);
}

#second-jumbotron{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbotron{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 600px;
}

.jumbo-padd{
    padding-top: 250px;
}

.psfive-button{
    background-color: var(--blue);
}

.psfive-gadget{
    opacity: 0.6;
}

.nu-bg{
    background-color: var(--darkgray);
}
