/*utilities*/
:root{
    --gray: #737373;
    --blue: #2D64E6;
    --darkgray: #1F1F1F;
    --dust: #BEBCBB;
    --plus-btn: #D9DADC;
    --darkblue: #161C3B;
    --footerblue: #00439C;
}

.margin-bt{
    margin-bottom: 20px;
}

.button{
    padding: 10px 15px;
    border-radius: 20px;
}

.color-gray{
    color: var(--gray);
}

/*header*/
header{
    position: fixed;
    z-index: 1;
}

.sony-logo{
    height: 30px;
    padding: 5px 10px;
}

.bars-icon{
    color: var(--gray);
    border: lightgrey 1px solid;
    padding: 10px 10px;
}

/*main*/
main{
    padding-top: 96px;
}

#main-jumbotron{
    background-image: url(../img/jumbo-bg.png);
}

#second-jumbotron{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbotron{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 600px;
}

.jumbo-padd{
    padding-top: 250px;
}

.psfive-button{
    background-color: var(--blue);
}

.psfive-gadget{
    opacity: 0.6;
}

.nu-bg{
    background-color: var(--darkgray);
}

.bg-dust{
    background-color: var(--dust);
}

.plus-button{
    background-color: var(--plus-btn);
    color: var(--blue);
    font-weight: bold;
}

.bg-now{
    background-color: var(--darkblue);
}

/*footer*/

footer{
    background-color: var(--footerblue);
}

.footer-logo{
    height: 25px;
    opacity: 1;
}

.list-none{
    list-style-type: none;
}