/*utilities*/
:root{
    --gray: #737373;
}

.margin-bt{
    margin-bottom: 20px;
}

.button{
    padding: 10px 15px;
    border-radius: 20px;
}

/*header*/
header{
    position: fixed;
}

.sony-logo{
    height: 30px;
    padding: 5px 10px;
}

.bars-icon{
    color: var(--gray);
    border: lightgrey 1px solid;
    padding: 10px 10px;
}

/*main*/
main{
    padding-top: 96px;
}

#main-jumbotron{
    background-image: url(../img/jumbo-bg.png);
}

.jumbotron{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 600px;
}

.jumbo-padd{
    padding-top: 250px;
}
